In [1]:
#importing required data analytics libraries
import numpy as np
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

# 1. Reading the Rounds2, companies.txt file

In [2]:
#Reading companies.txt file
companies = pd.read_csv("companies.txt",sep='\t',encoding = "utf-8")
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [3]:
#Reading rounds2.csv file
rounds=pd.read_csv("rounds2.csv",encoding='latin-1')
rounds

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

# 2. How many unique companies are present in rounds2?

To check unique companies,first we will convert all values to lower case,so that,our code can identify the unique companies.

In [4]:
rounds['company_permalink'] = rounds['company_permalink'].str.lower()

As 'series'has no attribute 'lower',so,we have first converted it into string and then converted it to lower case.

In [5]:
rounds2_companies=len(rounds['company_permalink'].unique())
print("Unique companies in rounds2 are :-",rounds2_companies)

Unique companies in rounds2 are :- 66370

# 3. How many unique companies are present in the companies file?

Similar as above,we will find now unique companies in companies file.

In [6]:
companies['permalink']=companies['permalink'].str.lower()

In [7]:
unique_companies=len(companies['permalink'].unique())
print("Unique companies in companies file are :-",unique_companies)

Unique companies in companies file are :- 66368

# 4.Write the code to convert companies[‘permalink’] and         Round2[‘company_permalink’] columns to uppercase.

In [8]:
companies['permalink']=companies['permalink'].str.upper()
print(companies['permalink'].head(2),end='\n\n')

rounds['company_permalink'] = rounds['company_permalink'].str.upper()
print(rounds['company_permalink'].head(2))

0       /ORGANIZATION/-FAME
1    /ORGANIZATION/-QOUNTER
Name: permalink, dtype: object

0       /ORGANIZATION/-FAME
1    /ORGANIZATION/-QOUNTER
Name: company_permalink, dtype: object

# 5. Are there any companies in the rounds2 file which are not present in companies.txt ?

Here,we will first convert both files to 'set' and then apply .difference() to find no. of companies that are in rounds file but not in companies file.

In [9]:
len(set(rounds['company_permalink'].unique()).difference(set(companies['permalink'].unique())))

29

# 6. Merge the two data frames so that all variables (columns) in the company's frame are addedto the rounds2 data frame. Name the merged frame master_dataframe. How many observationsare present in master_frame ?

In [10]:
master_dataframe=pd.merge(rounds,companies,how="left",left_on="company_permalink",right_on="permalink")

In [11]:
master_dataframe

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114946,/ORGANIZATION/ÃERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [12]:
#Identifying no. of observations present in a merged dataframe.
master_dataframe.shape

(114949, 16)

# 7. Write the code to drop the redundant column ‘'company_permalink' from the master_dataframe.

In [13]:
master_dataframe=master_dataframe.drop(['company_permalink'],axis=1)

#axis=1 represents column.

In [14]:
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

# 8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop unnecessary columns.

In [15]:
#First,we will calculate how many null/NaN values are present in each column
master_dataframe.isnull().sum()

funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                     32
name                          33
homepage_url                6161
category_list               3431
status                        32
country_code                8686
state_code                 10953
region                     10175
city                       10172
founded_at                 20542
dtype: int64

In [16]:
#Now we will find out the percentage of null values present in each column
round(100*(master_dataframe.isnull().sum()/len(master_dataframe.index)), 2)

funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.03
name                        0.03
homepage_url                5.36
category_list               2.98
status                      0.03
country_code                7.56
state_code                  9.53
region                      8.85
city                        8.85
founded_at                 17.87
dtype: float64

In [17]:
#dropping unneccessary columns
master_dataframe = master_dataframe.drop(
['funding_round_permalink','funding_round_code','funded_at','permalink', 'homepage_url', 
 'state_code', 'region', 'city', 'founded_at','status'], axis = 1)

In [18]:
#removing null values from "raised_amount_usd","category_list","country_code" for better analysis of data.
#1.
master_dataframe=master_dataframe[~master_dataframe.raised_amount_usd.isnull()]

In [19]:
#2.
master_dataframe=master_dataframe[~master_dataframe.category_list.isnull()]

In [20]:
#3.
master_dataframe=master_dataframe[~master_dataframe.country_code.isnull()]

In [21]:
round(100*(master_dataframe.isnull().sum()/len(master_dataframe.index)), 2)

funding_round_type    0.0
raised_amount_usd     0.0
name                  0.0
category_list         0.0
country_code          0.0
dtype: float64

In [22]:
master_dataframe

,funding_round_type,raised_amount_usd,name,category_list,country_code
0,venture,10000000.0,#fame,Media,IND
2,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA
4,venture,2000000.0,0-6.com,Curated Web,CHN
6,undisclosed,41250.0,01Games Technology,Games,HKG
7,seed,43360.0,Ondine Biomedical Inc.,Biotechnology,CAN
...,...,...,...,...,...
114941,venture,1587301.0,ZZNode Science and Technology,Enterprise Software,CHN
114942,seed,7000.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV
114943,seed,33149.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV
114944,convertible_note,41313.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV
114945,seed,32842.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV

In [23]:
#calculating average investment amount for each of the funding types.
investment_type = master_dataframe.groupby('funding_round_type')
investment_type['raised_amount_usd'].mean().sort_values(ascending = False)

funding_round_type
post_ipo_debt            1.694518e+08
secondary_market         8.443853e+07
private_equity           7.393849e+07
post_ipo_equity          6.607706e+07
debt_financing           1.716765e+07
undisclosed              1.589166e+07
venture                  1.172422e+07
grant                    4.515024e+06
product_crowdfunding     1.353227e+06
convertible_note         1.337187e+06
angel                    9.715739e+05
seed                     7.479091e+05
equity_crowdfunding      5.098980e+05
non_equity_assistance    4.807534e+05
Name: raised_amount_usd, dtype: float64

Hence,calculating average investment amount for each of the funding types,amount raised by "post_ipo_debt" is best investment-type for making the investment.

Now,we will identify the best country that raised the highest amount  in "post_ipo_debt" investment.

In [24]:
a=master_dataframe[master_dataframe["funding_round_type"]=="post_ipo_debt"]

In [25]:
a.shape

(151, 5)

In [26]:
#Here we have calculated the total amount raised by different countries in "post_ipo_debt" investment-type.
best_country = a.groupby('country_code')
best_country['raised_amount_usd'].sum().sort_values(ascending=False).head(10)

country_code
USA    1.734493e+10
RUS    5.800000e+09
CAN    9.092983e+08
NZL    5.000000e+08
CHE    3.000000e+08
CHN    2.390000e+08
SWE    2.103847e+08
GBR    1.200000e+08
DEU    8.820564e+07
AUS    3.770000e+07
Name: raised_amount_usd, dtype: float64

In [27]:
#Filtering the data with these top 10 countries only.
top_countries = a[a['country_code'].isin(["USA","RUS","CAN","NZL","CHE","CHN","SWE","GBR","DEU","AUS"])]

In [28]:
#Removing/Cleaning the rows with no category information in the category_list column for further analysis.
top_countries=top_countries[~top_countries.category_list.isnull()]

In [29]:
top_countries

,funding_round_type,raised_amount_usd,name,category_list,country_code
460,post_ipo_debt,1.500000e+08,3D Systems,Software,USA
1332,post_ipo_debt,1.400000e+06,Abtech Holdings,Engineering Firms|Environmental Innovation|Tec...,USA
2515,post_ipo_debt,5.000000e+06,ADMA Biologics,Biotechnology,USA
2516,post_ipo_debt,1.500000e+07,ADMA Biologics,Biotechnology,USA
3056,post_ipo_debt,4.110000e+06,Aehr Test Systems,Hardware + Software,USA
...,...,...,...,...,...
110857,post_ipo_debt,2.000000e+06,WindStream Technologies,Clean Technology,USA
110995,post_ipo_debt,5.900000e+05,Wireless Ronin Technologies,Software,USA
112510,post_ipo_debt,1.990000e+07,XZERES,Clean Technology,USA
113711,post_ipo_debt,2.000000e+09,Zebra Technologies,Enterprise Software,USA
114722,post_ipo_debt,2.000000e+07,ZS Pharma,Biotechnology,USA

From the above result,we found that best country to do investment is USA.

# 9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and ‘funding_round_type’ across different funding round categories.

In [30]:
pd.pivot_table(master_dataframe,index=['funding_round_type'],values=['raised_amount_usd'],aggfunc=['mean','median'])

                                   mean            median
                      raised_amount_usd raised_amount_usd
funding_round_type
angel                      9.715739e+05          414906.0
convertible_note           1.337187e+06          300000.0
debt_financing             1.716765e+07         1096653.0
equity_crowdfunding        5.098980e+05           85000.0
grant                      4.515024e+06          225000.0
non_equity_assistance      4.807534e+05           60000.0
post_ipo_debt              1.694518e+08        19900000.0
post_ipo_equity            6.607706e+07        12262852.5
private_equity             7.393849e+07        20000000.0
product_crowdfunding       1.353227e+06          211500.0
secondary_market           8.443853e+07        45850000.0
seed                       7.479091e+05          300000.0
undisclosed                1.589166e+07         1100000.0
venture                    1.172422e+07         5000000.0

# 10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie between 4 Millions to 15 Millions.

In [31]:
master_dataframe[(master_dataframe['raised_amount_usd']>4000000) & (master_dataframe['raised_amount_usd']<15000000) ].sort_values(['raised_amount_usd'],ascending=False)

,funding_round_type,raised_amount_usd,name,category_list,country_code
93483,venture,14999999.0,SpiderCloud Wireless,Enterprise Software,USA
113931,venture,14999999.0,Zenverge,Semiconductors,USA
57840,venture,14999999.0,Luminal,Cloud Computing|Infrastructure|Security|Software,USA
49127,venture,14999999.0,Intermolecular,Semiconductors,USA
97052,private_equity,14999999.0,Synos Technology,Manufacturing,USA
...,...,...,...,...,...
68193,venture,4000001.0,NitroSecurity,Security,USA
18402,debt_financing,4000001.0,CeNeRx BioPharma,Biotechnology,USA
103754,venture,4000001.0,TV2 Holding,Biotechnology,USA
19590,venture,4000001.0,Cianna Medical,Health Care,USA
71560,debt_financing,4000001.0,Sphero,Android|Consumer Electronics|Game|Hardware + S...,USA

# 11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [32]:
venture_fund = master_dataframe[master_dataframe["funding_round_type"]=="venture"]

In [33]:
venturefund_by_country = venture_fund.groupby('country_code')
venturefund_by_country['raised_amount_usd'].sum().sort_values(ascending=False).head(9)

country_code
USA    4.200680e+11
CHN    3.933892e+10
GBR    2.007281e+10
IND    1.426151e+10
CAN    9.482218e+09
FRA    7.226851e+09
ISR    6.854350e+09
DEU    6.306922e+09
JPN    3.167647e+09
Name: raised_amount_usd, dtype: float64

# 12. Create the ‘main_category’ column by extracting the main sector using the column ‘category_list’.Hint - Use the Lambda function or string function

In [34]:
master_dataframe

,funding_round_type,raised_amount_usd,name,category_list,country_code
0,venture,10000000.0,#fame,Media,IND
2,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA
4,venture,2000000.0,0-6.com,Curated Web,CHN
6,undisclosed,41250.0,01Games Technology,Games,HKG
7,seed,43360.0,Ondine Biomedical Inc.,Biotechnology,CAN
...,...,...,...,...,...
114941,venture,1587301.0,ZZNode Science and Technology,Enterprise Software,CHN
114942,seed,7000.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV
114943,seed,33149.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV
114944,convertible_note,41313.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV
114945,seed,32842.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV

In [35]:
#As we see that some of the values in a "category_list" column contains a string containing many subcategories written together 
# separated with pipe or vertical bar(|).So,to extract only the main category(sector),we have applied lambda function that will
#split the string from pipe(\) position and will return only the first value/string/sector,i.e.,at 0th index-position.
master_dataframe['main_category'] =master_dataframe['category_list'].astype(str).apply(lambda x: x.split('|')[0])

In [36]:
master_dataframe.sort_values(['raised_amount_usd'],ascending=False).head(10)

,funding_round_type,raised_amount_usd,name,category_list,country_code,main_category
106562,debt_financing,2.127194e+10,Verizon Communications,Communications Infrastructure|Information Tech...,USA,Communications Infrastructure
37569,venture,1.760000e+10,Freescale Semiconductor,Semiconductors,USA,Semiconductors
86136,post_ipo_debt,5.800000e+09,Sberbank,Banking|Finance,RUS,Banking
75532,private_equity,4.745460e+09,Ping An,Banking|Financial Services|Insurance|Investmen...,CHN,Banking
60207,venture,4.700000e+09,MediaVast,Advertising|Broadcasting|Content,USA,Advertising
96027,undisclosed,4.630000e+09,Suning,Distributors|E-Commerce|Manufacturing,CHN,Distributors
106564,debt_financing,3.835050e+09,Verizon Communications,Communications Infrastructure|Information Tech...,USA,Communications Infrastructure
106565,debt_financing,3.822518e+09,Verizon Communications,Communications Infrastructure|Information Tech...,USA,Communications Infrastructure
45528,undisclosed,3.600000e+09,i-Cube,Application Platforms|Customer Service|Software,USA,Application Platforms
35771,private_equity,3.500000e+09,First Data Corporation,Payments|Trading,USA,Payments

# 13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical column as follow

# a) If the amount is less than 5 Millions then recode as TypeA.
# b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
# c) If the amount is greater than 7 Millions then recode as TypeC

In [37]:
# created user defined function to categorize "raised_amount_usd" column into 3 different types as given in question statement.
def new_category(x):
    s=[]
    if x<5000000:
        s.append('typeA')
    if x>5000000 and x<7000000:
        s.append('typeB')
    if x>7000000:
        s.append('typeC')
    se=pd.Series(s)
    se_val=se.values
    return(se_val)

In [39]:
# Applying lambda function to new column to list down type categories
master_dataframe['new_1']=master_dataframe['raised_amount_usd'].apply(lambda x: new_category(x))

In [40]:
master_dataframe

,funding_round_type,raised_amount_usd,name,category_list,country_code,main_category,new_1
0,venture,10000000.0,#fame,Media,IND,Media,[typeC]
2,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA,Application Platforms,[typeA]
4,venture,2000000.0,0-6.com,Curated Web,CHN,Curated Web,[typeA]
6,undisclosed,41250.0,01Games Technology,Games,HKG,Games,[typeA]
7,seed,43360.0,Ondine Biomedical Inc.,Biotechnology,CAN,Biotechnology,[typeA]
...,...,...,...,...,...,...,...
114941,venture,1587301.0,ZZNode Science and Technology,Enterprise Software,CHN,Enterprise Software,[typeA]
114942,seed,7000.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV,Advertising,[typeA]
114943,seed,33149.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV,Advertising,[typeA]
114944,convertible_note,41313.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV,Advertising,[typeA]
114945,seed,32842.0,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,HRV,Advertising,[typeA]